{% extends "base.html" %}
{% block content %}
{% load static %}
<section class = "content">
    <div class="topHome">
        <img class="techis_icon" src="{% static 'img/techis-logo.png' %}" />
        <h1>Home</h1>
    </div>
    <section class ="post_form">
        <form action="/" method="POST" enctype="multipart/form-data">
            
            <input class="userInfo" type="text" name="name" placeholder="Your Name" required><br>
            <textarea name="body" placeholder="What's happening?" required></textarea>
            <input type="file" name="image">
            <input class="tweetBtn" type="submit" value="Tweet"> <br>
            {% csrf_token %}
        </form>
    </section>
    <section class ="posts">
        <ul>
            {% for post in posts reversed %}
            <li>
                <img class="menu_icon js-menu-icon" src="{% static 'img/menu1.png' %}" />
                <div class="menu">
                    <a href="/delete/{{ post.id }}/">Delete</a><br>
                    <a href="/edit/{{ post.id }}/">Edit</a>
                </div>
                <div class="logo">
                    <img src="{% static 'img/programmer.png' %}">
                </div>
                <div class="name_body">
                    <div class="name">{{ post.name }}</div>
                    <div class="datetime">{{ post.created_at }} </div>
                    <p>{{ post.body }} </p>
                    {% if post.image.url %}
                    <img src="{{ post.image.url }}">
                    {% endif %}
                    <div class="likeBtn">
                        <a href="/like/{{post.id}}">
                        <img class="like_icon" src="{% static 'img/like.png' %}" /></a>
                        <p>{{post.like}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}